body{
	background-image: linear-gradient(#BAE1FF, #3C7DFA);
	color: #1C222A;
	position: static;
	overflow: hidden;
}

.bar{
	width: 15%;
}

.button{
	cursor: pointer;
	border-radius: 5px;
}

.buttons-container{
	height: 50px;
}

.dropdown{
	background-color: #3C7DFA;
}

.dropdown-content{
	display:none;
	z-index:999;
}

.dropdown:hover .dropdown-content{
	display:block;
	border-top: 1px solid black;
}

.material-select{
	padding: 0;
	margin: 4px;
}

.material-select:hover::before{
	content:"> ";
}

.zen-button{
	background-color: black;
}

.particles{
	background-color: aliceblue;
	z-index:-999;
}